<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
 xmlns:gap = "http://phonegap.com/ns/1.0"
 id = "edu.uab.business.studentapp"
 versionCode = "1"
 version = "0.1.0" >
 <!-- versionCode is optional and Android only -->
 <name> Assignment 7</name>
 <description>
 Assignment 7
 </description>
 <author>
 Kyle Sigman
 </author>

 <preference name="phonegap-version" value="cli-6.3.0" />
 <plugin name="cordova-plugin-whitelist" source="npm" />
 <access origin="*" />
 <plugin name="cordova-plugin-geolocation" source="npm" />
 <plugin name="cordova-plugin-splashscreen" source="npm" />
 <plugin name="cordova-plugin-contacts" source="npm" />
 <plugin name="cordova-plugin-camera" source="npm" />
 <plugin name="cordova-plugin-inappbrowser" source="npm" />
 <gap:plugin name="cordova-plugin-flashlight" source="npm" />
 <icon src="icon.png" />
 <splash src="splash.png"/>
</widget>
