/*
Stylesheet for Assignment 1
Kyle Sigman
*/
body{
	max-width: 600px;
	background-color: #44a948;
}
h1{
	font-family: sans-serif;
	text-align: center;
}
h2{
	font-family: sans-serif;
	text-align: center;
}
footer{
	text-align: center;
	font-style: italic;
	background-color: #d2d2d2;
	padding-top:10px;
}
table, th, td {
 	border: 1px solid black;
	margin: 0 auto;
}
select{
	margin: 0 auto;
    display: block;
}
#section1{
	width: 100%;
	display: none;
	background-color: #b3a505;
}
#section2{
	width: 100%;
	display: none;
	background-color: #004a96;
	color: #fff;
}
#section2 a{
	color: #fff;
}
#section2 table, #section2 th, #section2 td{
	border: 1px solid #fff;
}
#section3{
	width: 100%;
	display: none;
	background-color: #b3a505;
}
#section4{
	width: 100%;
	display: none;
	background-color: #004a96;
	color: #fff;
}
#section5{
	width: 100%;
	display: none;
	background-color: #004a96;
	color: #fff;
}
#section6{
	width: 100%;
	display: none;
	background-color: #004a96;
	color: #fff;
}
#section7{
	width: 100%;
	display: none;
	background-color: #004a96;
	color: #fff;
}
#section8{
	width: 100%;
	display: none;
	background-color: #004a96;
	color: #fff;
}
#image1{
	width: 25%;
	height: 25%;
	float: right;
	padding: 5px;
}
#map{
	height: 400px;
    width: 100%;
}